@import 'styles.css';
@import 'active.css';

.flex {
  display: flex;
}

.f-2 {
  font-size: 2.5rem;
}

.list-style-none {
  list-style: none;
}

.decoration-none {
  text-decoration: none;
  list-style: none;
}

.justify-content-space-between {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.bg-red {
  background-color: brown;
}

.text-white,
.bg-white {
  color: white;
  background-color: white;
}

.text-dark{
  color: black;
}

.gap-5{
  gap:5rem;
}
.m-2{
  margin: 0 2rem;
}
.h-10{
  height: 10rem;
}
.p-2{
padding:2rem;
}
.align-center{
  align-items: center;
}